<div class="relative w-full lg:max-w-7xl flex items-center m-auto">
  <div class="w-full lg:w-50 justify-center gap-12 px-6 pt-16">
      <div style="max-width: 500px; margin: 0 auto; width: 100%">
          <div>
              <h1 class="text-lg my-3 text-center">
                  Log in to start your session
              </h1>
          </div>
          <div class="my-4 rounded-lg w-100 bg-red-100 p-5 text-base text-red-700" *ngIf="errorMessage !== null && errorMessage !== undefined && errorMessage.length > 0">
              {{ errorMessage }}
          </div>
          <div class="grid my-3.5">
            <div class="form-group mb-3">
              <label class="form-control-label" for="username">Username</label>
              <input type="text" class="form-element boxed" (keyup.enter)="login()" name="username" placeholder="Enter Username" id="username" [(ngModel)]="username">
            </div>
            <div class="form-group mb-4">
              <label class="form-control-label" for="password">Password</label>
              <input type="password" class="form-element boxed" (keyup.enter)="login()" name="password" placeholder="Enter Password" id="password" [(ngModel)]="password">
            </div>
            <div class="form-group">
              <button type="submit" [disabled]="loading" class="relative flex items-center justify-center text-white px-6 py-3 text-base rounded-lg sm:col-span-6 client-button" style="width: 100%" (click)="login()">
                Log In
              </button>
            </div>
          </div>
      </div>
  </div>
</div>